
%form.formtastic
  %fieldset.inputs
    %legend
    %ol
      %li.string.required
        %label Title:
        %input.title{name: 'title', value: job.title}
      %li.string.required
        %label Company:
        %input.title{name: 'company_name', value: job.company_name}
      %li.string.required
        %label Contact Email:
        %input.title{name: 'contact_email', value: job.contact_email}
      %li.string.required
        %label City:
        %input.title{name: 'city', value: job.city}
      %li.string.required
        %label State:
        %input.title{name: 'state', value: job.state}
      %li.string.required
        %label Country:
        
        %input.title{name: 'country', value: job.country}
      %li.string
        %label Short Desc.:
        %input.title{name: 'short_description', value: job.short_description}
      %li.string.required
        %label Description:
        %textarea.title{rows: 30, cols: 80, name: 'description'}= job.description