#connection-status{:style=>"display:none"}
  .working Syncing with the server...
  .error There was an error while syncing. Please correct it.
  .ok Everything was synced successfully.
#job-app
  #job-list
  #job-toolbar
    %button#add Add Job...
  #job-edit
    
  
  