body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.5;
  padding: 20px; }
  body div, body span, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }
  body blockquote, body q {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    quotes: "" ""; }
    body blockquote:before, body blockquote:after, body q:before, body q:after {
      content: ""; }
  body pre, body a, body abbr, body acronym, body address, body code, body del, body dfn, body em, body img {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }
  body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body caption, body tbody, body tfoot, body thead, body tr {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }
  body th, body td, body caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
  body table {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle; }
  body a img {
    border: none; }
  body .container {
    width: 950px;
    margin: 0 auto;
    overflow: auto;
    display: inline-block; }
    body .container {
      display: block; }
    body .container .span-1 {
      width: 30px; }
    body .container div.span-1 {
      float: left;
      width: 30px;
      margin-right: 10px; }
    body .container .span-2 {
      width: 70px; }
    body .container div.span-2 {
      float: left;
      width: 70px;
      margin-right: 10px; }
    body .container .span-3 {
      width: 110px; }
    body .container div.span-3 {
      float: left;
      width: 110px;
      margin-right: 10px; }
    body .container .span-4 {
      width: 150px; }
    body .container div.span-4 {
      float: left;
      width: 150px;
      margin-right: 10px; }
    body .container .span-5 {
      width: 190px; }
    body .container div.span-5 {
      float: left;
      width: 190px;
      margin-right: 10px; }
    body .container .span-6 {
      width: 230px; }
    body .container div.span-6 {
      float: left;
      width: 230px;
      margin-right: 10px; }
    body .container .span-7 {
      width: 270px; }
    body .container div.span-7 {
      float: left;
      width: 270px;
      margin-right: 10px; }
    body .container .span-8 {
      width: 310px; }
    body .container div.span-8 {
      float: left;
      width: 310px;
      margin-right: 10px; }
    body .container .span-9 {
      width: 350px; }
    body .container div.span-9 {
      float: left;
      width: 350px;
      margin-right: 10px; }
    body .container .span-10 {
      width: 390px; }
    body .container div.span-10 {
      float: left;
      width: 390px;
      margin-right: 10px; }
    body .container .span-11 {
      width: 430px; }
    body .container div.span-11 {
      float: left;
      width: 430px;
      margin-right: 10px; }
    body .container .span-12 {
      width: 470px; }
    body .container div.span-12 {
      float: left;
      width: 470px;
      margin-right: 10px; }
    body .container .span-13 {
      width: 510px; }
    body .container div.span-13 {
      float: left;
      width: 510px;
      margin-right: 10px; }
    body .container .span-14 {
      width: 550px; }
    body .container div.span-14 {
      float: left;
      width: 550px;
      margin-right: 10px; }
    body .container .span-15 {
      width: 590px; }
    body .container div.span-15 {
      float: left;
      width: 590px;
      margin-right: 10px; }
    body .container .span-16 {
      width: 630px; }
    body .container div.span-16 {
      float: left;
      width: 630px;
      margin-right: 10px; }
    body .container .span-17 {
      width: 670px; }
    body .container div.span-17 {
      float: left;
      width: 670px;
      margin-right: 10px; }
    body .container .span-18 {
      width: 710px; }
    body .container div.span-18 {
      float: left;
      width: 710px;
      margin-right: 10px; }
    body .container .span-19 {
      width: 750px; }
    body .container div.span-19 {
      float: left;
      width: 750px;
      margin-right: 10px; }
    body .container .span-20 {
      width: 790px; }
    body .container div.span-20 {
      float: left;
      width: 790px;
      margin-right: 10px; }
    body .container .span-21 {
      width: 830px; }
    body .container div.span-21 {
      float: left;
      width: 830px;
      margin-right: 10px; }
    body .container .span-22 {
      width: 870px; }
    body .container div.span-22 {
      float: left;
      width: 870px;
      margin-right: 10px; }
    body .container .span-23 {
      width: 910px; }
    body .container div.span-23 {
      float: left;
      width: 910px;
      margin-right: 10px; }
    body .container .span-24 {
      width: 950px; }
    body .container div.span-24 {
      float: left;
      width: 950px;
      margin-right: 0;
      margin-right: 10px; }
    body .container div.last {
      margin-right: 0; }
    body .container .append-1 {
      padding-right: 40px; }
    body .container .append-2 {
      padding-right: 80px; }
    body .container .append-3 {
      padding-right: 120px; }
    body .container .append-4 {
      padding-right: 160px; }
    body .container .append-5 {
      padding-right: 200px; }
    body .container .append-6 {
      padding-right: 240px; }
    body .container .append-7 {
      padding-right: 280px; }
    body .container .append-8 {
      padding-right: 320px; }
    body .container .append-9 {
      padding-right: 360px; }
    body .container .append-10 {
      padding-right: 400px; }
    body .container .append-11 {
      padding-right: 440px; }
    body .container .append-12 {
      padding-right: 480px; }
    body .container .append-13 {
      padding-right: 520px; }
    body .container .append-14 {
      padding-right: 560px; }
    body .container .append-15 {
      padding-right: 600px; }
    body .container .append-16 {
      padding-right: 640px; }
    body .container .append-17 {
      padding-right: 680px; }
    body .container .append-18 {
      padding-right: 720px; }
    body .container .append-19 {
      padding-right: 760px; }
    body .container .append-20 {
      padding-right: 800px; }
    body .container .append-21 {
      padding-right: 840px; }
    body .container .append-22 {
      padding-right: 880px; }
    body .container .append-23 {
      padding-right: 920px; }
    body .container .prepend-1 {
      padding-left: 40px; }
    body .container .prepend-2 {
      padding-left: 80px; }
    body .container .prepend-3 {
      padding-left: 120px; }
    body .container .prepend-4 {
      padding-left: 160px; }
    body .container .prepend-5 {
      padding-left: 200px; }
    body .container .prepend-6 {
      padding-left: 240px; }
    body .container .prepend-7 {
      padding-left: 280px; }
    body .container .prepend-8 {
      padding-left: 320px; }
    body .container .prepend-9 {
      padding-left: 360px; }
    body .container .prepend-10 {
      padding-left: 400px; }
    body .container .prepend-11 {
      padding-left: 440px; }
    body .container .prepend-12 {
      padding-left: 480px; }
    body .container .prepend-13 {
      padding-left: 520px; }
    body .container .prepend-14 {
      padding-left: 560px; }
    body .container .prepend-15 {
      padding-left: 600px; }
    body .container .prepend-16 {
      padding-left: 640px; }
    body .container .prepend-17 {
      padding-left: 680px; }
    body .container .prepend-18 {
      padding-left: 720px; }
    body .container .prepend-19 {
      padding-left: 760px; }
    body .container .prepend-20 {
      padding-left: 800px; }
    body .container .prepend-21 {
      padding-left: 840px; }
    body .container .prepend-22 {
      padding-left: 880px; }
    body .container .prepend-23 {
      padding-left: 920px; }
    body .container .pull-1 {
      float: left;
      position: relative;
      margin-left: -40px; }
    body .container .pull-2 {
      float: left;
      position: relative;
      margin-left: -80px; }
    body .container .pull-3 {
      float: left;
      position: relative;
      margin-left: -120px; }
    body .container .pull-4 {
      float: left;
      position: relative;
      margin-left: -160px; }
    body .container .pull-5 {
      float: left;
      position: relative;
      margin-left: -200px; }
    body .container .pull-6 {
      float: left;
      position: relative;
      margin-left: -240px; }
    body .container .pull-7 {
      float: left;
      position: relative;
      margin-left: -280px; }
    body .container .pull-8 {
      float: left;
      position: relative;
      margin-left: -320px; }
    body .container .pull-9 {
      float: left;
      position: relative;
      margin-left: -360px; }
    body .container .pull-10 {
      float: left;
      position: relative;
      margin-left: -400px; }
    body .container .pull-11 {
      float: left;
      position: relative;
      margin-left: -440px; }
    body .container .pull-12 {
      float: left;
      position: relative;
      margin-left: -480px; }
    body .container .pull-13 {
      float: left;
      position: relative;
      margin-left: -520px; }
    body .container .pull-14 {
      float: left;
      position: relative;
      margin-left: -560px; }
    body .container .pull-15 {
      float: left;
      position: relative;
      margin-left: -600px; }
    body .container .pull-16 {
      float: left;
      position: relative;
      margin-left: -640px; }
    body .container .pull-17 {
      float: left;
      position: relative;
      margin-left: -680px; }
    body .container .pull-18 {
      float: left;
      position: relative;
      margin-left: -720px; }
    body .container .pull-19 {
      float: left;
      position: relative;
      margin-left: -760px; }
    body .container .pull-20 {
      float: left;
      position: relative;
      margin-left: -800px; }
    body .container .pull-21 {
      float: left;
      position: relative;
      margin-left: -840px; }
    body .container .pull-22 {
      float: left;
      position: relative;
      margin-left: -880px; }
    body .container .pull-23 {
      float: left;
      position: relative;
      margin-left: -920px; }
    body .container .pull-24 {
      float: left;
      position: relative;
      margin-left: -960px; }
    body .container .push-1 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -40px;
      margin-bottom: 1.5em;
      margin-left: -40px; }
    body .container .push-2 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -80px;
      margin-bottom: 1.5em;
      margin-left: -80px; }
    body .container .push-3 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -120px;
      margin-bottom: 1.5em;
      margin-left: -120px; }
    body .container .push-4 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -160px;
      margin-bottom: 1.5em;
      margin-left: -160px; }
    body .container .push-5 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -200px;
      margin-bottom: 1.5em;
      margin-left: -200px; }
    body .container .push-6 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -240px;
      margin-bottom: 1.5em;
      margin-left: -240px; }
    body .container .push-7 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -280px;
      margin-bottom: 1.5em;
      margin-left: -280px; }
    body .container .push-8 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -320px;
      margin-bottom: 1.5em;
      margin-left: -320px; }
    body .container .push-9 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -360px;
      margin-bottom: 1.5em;
      margin-left: -360px; }
    body .container .push-10 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -400px;
      margin-bottom: 1.5em;
      margin-left: -400px; }
    body .container .push-11 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -440px;
      margin-bottom: 1.5em;
      margin-left: -440px; }
    body .container .push-12 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -480px;
      margin-bottom: 1.5em;
      margin-left: -480px; }
    body .container .push-13 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -520px;
      margin-bottom: 1.5em;
      margin-left: -520px; }
    body .container .push-14 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -560px;
      margin-bottom: 1.5em;
      margin-left: -560px; }
    body .container .push-15 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -600px;
      margin-bottom: 1.5em;
      margin-left: -600px; }
    body .container .push-16 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -640px;
      margin-bottom: 1.5em;
      margin-left: -640px; }
    body .container .push-17 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -680px;
      margin-bottom: 1.5em;
      margin-left: -680px; }
    body .container .push-18 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -720px;
      margin-bottom: 1.5em;
      margin-left: -720px; }
    body .container .push-19 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -760px;
      margin-bottom: 1.5em;
      margin-left: -760px; }
    body .container .push-20 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -800px;
      margin-bottom: 1.5em;
      margin-left: -800px; }
    body .container .push-21 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -840px;
      margin-bottom: 1.5em;
      margin-left: -840px; }
    body .container .push-22 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -880px;
      margin-bottom: 1.5em;
      margin-left: -880px; }
    body .container .push-23 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -920px;
      margin-bottom: 1.5em;
      margin-left: -920px; }
    body .container .push-24 {
      float: right;
      position: relative;
      margin-top: 0;
      margin-right: -960px;
      margin-bottom: 1.5em;
      margin-left: -960px; }
    body .container div.border {
      padding-right: 4px;
      margin-right: 5px;
      border-right: 1px solid #eeeeee; }
    body .container div.colborder {
      padding-right: 24px;
      margin-right: 25px;
      border-right: 1px solid #eeeeee; }
    body .container hr {
      background: #dddddd;
      color: #dddddd;
      clear: both;
      float: none;
      width: 100%;
      height: 0.1em;
      margin: 0 0 1.45em;
      border: none; }
    body .container hr.space {
      background: #dddddd;
      color: #dddddd;
      clear: both;
      float: none;
      width: 100%;
      height: 0.1em;
      margin: 0 0 1.45em;
      border: none;
      background: white;
      color: white; }
  html body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background: transparent;
    font-size: 75%; }
  body h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    body h1 img {
      margin: 0; }
  body h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  body h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  body h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
    height: 1.25em; }
  body h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  body h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
    margin: 0; }
  body p {
    margin: 0 0 1.5em; }
    body p img {
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
      body p img.right {
        float: right;
        margin: 1.5em 0 1.5em 1.5em; }
  body a {
    text-decoration: underline;
    color: #457ac9; }
    body a:hover {
      color: #399999; }
    body a:active {
      color: #ff7ac9; }
    body a:visited {
      color: #124796; }
    body a:focus {
      color: #457ac9; }
  body blockquote {
    margin: 1.5em;
    color: #666666;
    font-style: italic; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body dfn {
    font-style: italic;
    font-weight: bold; }
  body sup, body sub {
    line-height: 0; }
  body abbr, body acronym {
    border-bottom: 1px dotted #666666; }
  body address {
    margin: 0 0 1.5em;
    font-style: italic; }
  body del {
    color: #666666; }
  body pre, body code {
    margin: 1.5em 0;
    white-space: pre;
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5; }
  body tt {
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5; }
  body li ul, body li ol {
    margin: 0 1.5em; }
  body ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  body ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  body dl {
    margin: 0 0 1.5em 0; }
    body dl dt {
      font-weight: bold; }
  body dd {
    margin-left: 1.5em; }
  body table {
    margin-bottom: 1.4em;
    width: 100%; }
  body th {
    font-weight: bold;
    background: #c3d9ff;
    padding: 4px 10px 4px 5px; }
  body td {
    padding: 4px 10px 4px 5px; }
  body tr.even td {
    background: #e5ecf9; }
  body tfoot {
    font-style: italic; }
  body caption {
    background: #eeeeee; }
  body .quiet {
    color: #666666; }
  body .loud {
    color: #111111; }
  body .clear {
    clear: both; }
  body .nowrap {
    white-space: nowrap; }
  body .clearfix {
    overflow: auto;
    display: inline-block; }
    body .clearfix {
      display: block; }
  body .small {
    font-size: 0.8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  body .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  body .first {
    margin-left: 0;
    padding-left: 0; }
  body .last {
    margin-right: 0;
    padding-right: 0; }
  body .top {
    margin-top: 0;
    padding-top: 0; }
  body .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  body .print-only {
    display: none; }
  body .error {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    body .error a {
      color: #8a1f11; }
  body .notice {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    body .notice a {
      color: #514721; }
  body .success {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    body .success a {
      color: #264409; }
  body .hide {
    display: none; }
  body .highlight {
    background: yellow; }
  body .added {
    background: #006600;
    color: white; }
  body .removed {
    background: #990000;
    color: white; }
  body label {
    font-weight: bold; }
  body fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #cccccc; }
  body legend {
    font-weight: bold;
    font-size: 1.2em; }
  body input[type=text] {
    margin: 0.5em 0;
    border: 1px solid #bbbbbb;
    width: 300px;
    padding: 5px; }
    body input[type=text]:focus {
      border: 1px solid #666666; }
  body input.title {
    font-size: 1.5em; }
  body input.title {
    margin: 0.5em 0;
    border: 1px solid #bbbbbb;
    width: 300px;
    padding: 5px; }
    body input.title:focus {
      border: 1px solid #666666; }
  body textarea {
    margin: 0.5em 0;
    border: 1px solid #bbbbbb; }
    body textarea:focus {
      border: 1px solid #666666; }
  body select {
    margin: 0.5em 0;
    border: 1px solid #bbbbbb; }
    body select:focus {
      border: 1px solid #666666; }
  body textarea {
    width: 390px;
    height: 250px;
    padding: 5px; }
