form.formtastic fieldset {
  display: block;
  margin-bottom: 1.5em; }
  form.formtastic fieldset.buttons {
    padding: 0;
    margin: 0; }
  form.formtastic fieldset ol li {
    display: block;
    margin: 0 0 0.5em 1em; }
    form.formtastic fieldset ol li label {
      width: 15%; }
