form.formtastic fieldset {
  display: block;
  margin-bottom: 1.5em; }
  form.formtastic fieldset.buttons {
    padding: 0;
    margin: 0; }
  form.formtastic fieldset ol li {
    display: block;
    margin: 0 0 0.5em 1em; }
    form.formtastic fieldset ol li.error {
      border: none;
      background-color: transparent; }
      form.formtastic fieldset ol li.error input, form.formtastic fieldset ol li.error textarea, form.formtastic fieldset ol li.error select {
        border: 1px solid red;
        background-color: #fbe3e4; }
      form.formtastic fieldset ol li.error p {
        display: inline-block;
        margin: 0px 0.5em; }
    form.formtastic fieldset ol li textarea {
      padding: 5px;
      margin: 0.5em 0px;
      border: 1px solid #bbbbbb;
      font-size: 1.5em; }
    form.formtastic fieldset ol li p.inline-hints {
      margin: 0.5em 0px 0px 15%; }
    form.formtastic fieldset ol li label {
      width: 15%;
      margin: 15px 0; }
      form.formtastic fieldset ol li label abbr {
        padding: 0px 5px;
        color: red; }
